@import '../../../scss/variables.scss';

.log-in-card,
.log-in,
.log-in__file,
.log-in__options{
  display: flex;
}

.log-in-card,
.log-in{
  position: relative;
}

.log-in,
.log-in__file{
  flex-direction: column;
}
.log-in__input,
.log-in__text{
  color: #333;
}

.log-in-card{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: $login-bc;

  .log-in{
    justify-content: space-between;
    background-color: #fff;
    font-weight: bold;
    border-radius: 5px;
    width: 19rem;
    height: 25rem;
    padding: 1rem;

        &__btn{
          color: #fff;
          background-color:$log-in-btn;

          &:hover{
            background-color: rgba($color: $log-in-btn, $alpha: 0.7)
          }

          &:disabled{
            background-color: rgba($color: #777, $alpha: 0.4);
          }

        }
        &__input{
          background-color:$inputs-bc;
          font-size: larger;
          padding: 1rem 0.5rem 0.5rem 0.5rem;
          border: none;
          border-radius: 5px;
          outline: none;

          &:focus{
            background-color: rgba($color: #999, $alpha: 0.1);
          }
        }

        &__text{
          margin-bottom: 0.5rem;
        }

        &__options{
          justify-content:space-between ;
        }

        &__decoration{
          border-radius: 50%;
          background-color: $decoration-bc;
          position: absolute;

          &--circle1{
            top: 1rem;
            left: 3rem;
            width: 30rem;
            height: 30rem;
          }
          &--circle2{
            top: 21rem;
            right: 10rem;
            width: 8rem;
            height: 8rem;
          }
          &--circle3{
            top: 4rem;
            right: 5rem;
            width: 15rem;
            height: 15rem;
          }
          &--circle4{
            bottom: -30rem;
            right: 5rem;
            width: 50rem;
            height: 50rem;
          }
        }

  }

  // CREDENTIALS
  &__credentials{
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background: #00000083;
    z-index: 1;

    &__close-mark{
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      cursor: pointer;

      &:hover{
        color: #777;
      }
    }
  }

  &__credentials--key{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: #000000;
    }
  }

  &__credentials__close-mark,
  &__credentials--key{
    &:active{
      transform: scale(0.9);
    }
  }

}

// MEDIA QUERIES
@media (min-width:801px) {
  .log-in{
    width: 20rem;
    padding: 2rem;
  }
}


